<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse110.grocerysaver">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".database.DataProvider"
            android:authorities="com.cse110.GrocerySaver.provider" />

        <activity android:name=".GrocerySaverMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddFoodActivity"
            android:label="@string/add_food_activity_title"
            android:parentActivityName=".GrocerySaverMain" />

        <activity android:name=".AddFavoriteActivity"
            android:label="Add favorite"
            android:parentActivityName=".GrocerySaverMain" />

        <receiver
            android:name=".notification.DeviceBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".notification.SendNotificationService"/>
        <service android:name=".notification.SetRepeatAlarmService"/>
    </application>

</manifest>